/* WRAPPER */
.timeline-wrapper {
  height: 100vh;
  overflow: hidden;
}

/* TIMELINE */
.timeline {
  height: 100%;
  position: relative;
}

.timeline-inner {
  position: absolute;
  height: 100%;
  will-change: transform;
}

/* 🔥 GŁÓWNA OŚ */
.timeline-line {
  position: absolute;
  top: 50%;
  height: 14px;
  width: 100%;
  background: black;
  transform: translateY(-50%);
  border-radius: 8px;
}

/* 🔥 LATA W OSI */
.year {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  color: white;
  pointer-events: none;
}

/* EVENT */
.event {
  position: absolute;
}

/* DOT */
.event-dot {
  width: 14px;
  height: 14px;
  background: white;
  border: 3px solid;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* 🔥 POD-OŚ */
.event-line {
  height: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 6px;
}

/* BOX */
.event-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;

  background: white;
  border-radius: 12px;
  padding: 10px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

  max-height: 100px;
  overflow: hidden;

  transition: all 0.3s ease;
}

.event-box.active {
  max-height: 320px;
}

/* POZYCJA */
.event.top .event-box {
  bottom: 18px;
}

.event.bottom .event-box {
  top: 18px;
}

/* CONTENT */
.event-content {
  max-height: 150px;
  overflow-y: auto;
}

.event-box img {
  width: 100%;
  border-radius: 8px;
  margin-top: 6px;
}