body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .layout {
    display: flex;
    height: 100vh;
  }
  
  /* PANEL */
  .sidebar {
    width: 220px;
    background: #0f3d2e; /* ciemna zieleń */
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* PRZYCISKI */
  .groupBtn {
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    background: #1f7a5c; /* zielony */
    color: white;
    text-align: center;
    transition: all 0.25s ease;
    font-weight: bold;
  }
  
  /* HOVER */
  .groupBtn:hover {
    background: #2ecc71; /* jasny zielony */
    transform: translateX(5px);
  }
  
  /* ZAWARTOŚĆ */
  .content {
    flex: 1;
    padding: 40px;
    background: #e8f5e9; /* bardzo jasna zieleń */
  }